<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<% if @shipping_costs.any? %>
  <table class="table table-striped table-condensed" style="table-layout:fixed">
    <thead>
      <tr>
        <th style="width:10%"><%= sortable "id" %></th>
        <th style="width:10%"><%= sortable "price_cents", t('activerecord.attributes.shipping_cost.price') %></th>
        <th style="width:30%"><%= sortable "city", t('city') %></th>
        <th style="width:10%"><%= t('activerecord.attributes.shipping_cost.state') %></th>
        <th style="width:15%"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @shipping_costs %>
    </tbody>
  </table>
  <%= will_paginate @cities, class: 'pagination pagination-centered' %>
<% else %>
  <%= content_tag( :div, class: "alert text-center" ) do %>
    <%= content_tag( :span, t('items_not_found') ) %>
  <% end %>
<% end %>