<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<% if @shipping_methods.any? %>
  <table class="table table-striped table-condensed" style="table-layout:fixed">
    <thead>
      <tr>
        <th style="width:10%"><%= sortable "id" %></th>
        <th style="width:40%"><%= sortable "name", t('activerecord.attributes.shipping_method.name') %></th>
        <th style="width:10%"><%= t('activerecord.attributes.shipping_method.state') %></th>
        <th style="width:40%"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @shipping_methods %>
    </tbody>
  </table>
  <%= will_paginate @shipping_methods, class: 'pagination pagination-centered' %>
<% else %>
  <%= content_tag( :div, class: "alert text-center" ) do %>
    <%= content_tag( :span, t('items_not_found') ) %>
  <% end %>
<% end %>