<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-left">
          <%= render 'layouts/admin/menu/products' %>
          <%= render 'layouts/admin/menu/content' %>
          <%= render 'layouts/admin/menu/customers' %>
          <%= render 'layouts/admin/menu/users' %>
          <%= render 'layouts/admin/menu/reports' %>
          <%= render 'layouts/admin/menu/maintenance' %>
        </ul>
        <ul class="nav pull-right">
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('account') %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('profile'),  '#' %></li>
              <li><%= link_to t('settings'), '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t('site'), root_path %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to t('sign_out'), signout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>