<% provide(:title, t('cities')) %>
<% provide(:section, t('cities')) %>

<%= form_tag admin_cities_path, method: 'get', id: "cities_search" do %>
  <div class="row">
    <div class="span3">
      <%= label_tag :region_id, t('region') %>
      <%= collection_select(
          nil,
          :region_id,
          @regions, :id, :name,
          {
            :prompt        => false,
            :include_blank => ''
          },
          :class => 'tall span3')
      %>
    </div>
    <div class="input-append span3">
      <%= label_tag :search, t('activerecord.attributes.city.name') %>
      <%= text_field_tag :search, params[:search], :class => '' %>
      <%= submit_tag t('search'), class: 'btn' %>
    </div>
  </div>
  <hr class="bs-docs-separator">
  <div id="cities"><%= render 'cities' %></div>
<% end %>