<% provide(:title, t('regions')) %>
<% provide(:section, t('regions')) %>

<%= form_tag admin_regions_path, method: 'get', id: "regions_search" do %>
    <div class="input-append">
        <%= label_tag :region_id, t('region') %>
        <%= text_field_tag :search, params[:search], :class => 'span3' %>
        <%= submit_tag t('search'), class: 'btn' %>
    </div>
    </br>
    <div id="regions"><%= render 'regions' %></div>
<% end %>