<% provide(:title, t('regions')) %>
<% provide(:section, t('regions')) %>

<%= form_tag admin_regions_path, method: 'get', id: "regions_search" do %>
  <div class="row">
    <div class="input-append span3">
      <%= label_tag :region_id, t('activerecord.attributes.region.name') %>
      <%= text_field_tag :search, params[:search], :class => '' %>
      <%= submit_tag t('search'), class: 'btn' %>
    </div>
  </div>
  <hr class="bs-docs-separator">
  <div id="regions"><%= render 'regions' %></div>
<% end %>