<% provide(:title, t('catalog')) %>
<% provide(:section, t('our_products')) %>

<%= form_tag catalog_path, method: 'get', id: "catalog_search" do %>
  <div class="row">
      <div class="input-append span4 offset7">
        <%= hidden_field_tag(:category, params[:category]) if params[:category] %>
        <%= text_field_tag :search, params[:search], :placeholder => t('name_or_code') %>
        <%= submit_tag t('search'), class: 'btn' %>
      </div>
  </div>
<% end %>
<hr class="bs-docs-separator">
<div id="products"><%= render 'catalog' %></div>
