<footer class="footer">
  <small>    
    by Lisandro Corbalán
  </small>
  <nav>
    <ul>
      <li><%= link_to t('home'),          root_path %></li>
      <li><%= link_to t('institutional'), '#' %></li> 
      <li><%= link_to t('products'),      '#' %></li> 
      <li><%= link_to t('contact'),       contact_path %></li>
      <li><%= link_to t('news'),          '#' %></li>      
    </ul>
  </nav>
</footer>